---
import Layout from "../layouts/Layout.astro";
import About from "../components/About.astro";
import Technology from "../components/Technology.astro";
import Navbar from "../components/Navbar.astro";

import { technologies, sortingVisualiserTech } from "../lib";
import Sandbox from "../components/Sandbox.astro";

import "../styles/global.css";
---

<Layout title="Yao Hong">
  <Navbar />
  <About />
  <section id="content" class="pt-6">
    <h1 class="font-headline pb-2">Skills</h1>
    <Technology
      title="Coding"
      technologies={technologies.filter((tech) => tech.skill === "language")}
    />
    <Technology
      title="Dabbled / Experienced"
      technologies={technologies.filter((tech) => tech.skill === "library")}
    />
  </section>
  <section id="sandbox" class="pt-15">
    <h1 class="font-headline pb-2">Experiments</h1>

    <Sandbox
      title="Sorting Visualiser"
      technologies={sortingVisualiserTech}
      demo="https://sorting-visualiser-738ffc.netlify.app/"
      github="https://github.com/yaohong6782/sorting-visualiser"
    />
  </section>
  <div class="pb-48"></div>
</Layout>

<style>
  h1 {
    font-size: 24px;
    font-weight: 300;
    /*  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
  }

  .font-headline {
    font-weight: 500;
    font-size: 26px;
  }
</style>
