<div>
  <p class="pt-1 pb-3">
    <span class="text-lg text-slate-800">
      Welcome to my humble abode that's made in
      <a href="https://astro.build" target="_blank"
        ><span
          class="astro-link underline underline-offset-4 font-bold hover:translate-y-1 hover:transition-transform"
          >Astro</span
        ></a
      >
    </span>
  </p>
</div>

<p class="text-lg text-slate-800 pb-3">Currently a Software Engineer</p>
<p class="text-lg text-slate-800 pb-3"> I writing coding templates to get started </p>

<style>
  h1 {
    font-size: 32px;
  }

  .astro-link {
    color: #4929c2;
  }
</style>
