---

---

<div class="pt-4">
  <h1 class="text-lg">Welcome to my humble abode built with 
    <a href="https://astro.build" target="_blank">
      <span class="font-bold hover:underline underline-offset-4">Astro</span>
    </a>
  </h1>
  <br/>
  <h2>
    I write coding templates
  </h2>
</div>
