<section id="about" class="wrapper flex items-center justify-between">
    <div class="introduction">
      <h1 class="text-5xl">Hello! I'm <b>Yao Hong</b></h1>
      <p class="role text-xl pt-4">Linkedin / Github</p>
    </div>
    <!-- {
      social.map((item) => {
          <Icon />
      })
    } -->
  </section>
  <style>
    h1 {
      font-size: 32px;
    }
  
    .wrapper {
      height: 100vh; 
      /* display:flex;
      overflow: hidden; */
      /* align-items: center; */
    }
  </style>