<section id="about" class="wrapper flex items-center justify-between">
  <div class="introduction">
    <p class="pt-1 pb-3">
      <span class="text-lg text-slate-800 "
        >Hi there! Welcome to my humble abode</span
      >
    </p>
    <p class="text-lg text-slate-800 pb-3">I'm currently a Software Engineer which enjoys <b>Front-end Development</b></p>
    <p class="text-lg text-slate-800 pb-2">Moving forward, I'm diving into <b>FullStack</b> and exploring the world of Web development</p>
</section>
<style>
  h1 {
    font-size: 32px;
  }
</style>
