<section id="about" class="wrapper flex items-center justify-between">
  <div class="introduction">
    <p class="pt-1 pb-3">
      <span class="text-lg text-slate-800">
        Welcome to my humble abode that's made in
        <a href="https://astro.build" target="_blank"
          ><span
            class="underline underline-offset-4 font-bold hover:translate-y-1 hover:transition-transform"
            >Astro</span
          ></a
        >
      </span>
    </p>

    <p class="text-lg text-slate-800 pb-3">
      I'm currently a Software Engineer which enjoys <b>Front-end Development</b
      >
    </p>
    <p class="text-lg text-slate-800 pb-2">
      Mainly self-taught, I have my friends to thank for this journey, I'm diving into <b>FullStack</b> and exploring the world of
      Web development
    </p>
  </div>
  <style>
    h1 {
      font-size: 32px;
    }
  </style>
</section>
