---
const sections = [
  {
    anchor: "#about",
    name: "About",
  },
  {
    anchor: "#content",
    name: "Content",
  },
  {
    anchor: "#sandbox",
    name: "SandBox",
  },
];
---

<!-- <header class="sticky top-0 z-0"> -->
  <nav
    class="sticky top-0 z-50 flex justify-between text-xl border-b pb-3 bg-white"
  >
    <ul class="left-item items-center">
      <li class="pt-3 ml-5">yao hong</li>
    </ul>
    <ul class="flex gap-4 right-item items-center pt-3 mr-5">
      {
        sections.map((section) => (
          <li>
            <a href={section.anchor}>{section.name}</a>
          </li>
        ))
      }
    </ul>
  </nav>
<!-- </header> -->
<style></style>
