---
import '@fontsource/patrick-hand'

const sectionItems = [
  {
    anchor:'#about',
    name:"about"
  }, 
  {
    anchor:'#experiences',
    name: 'experiences'
  },
  {
    anchor:'#skills',
    name:'skills'
  },
  {
    anchor:"#projects",
    name: 'projects'
  }
]

---


<nav class="flex justify-between md:flex-row pl-2 pr-2">
<ul class="flex items-left items-center ">
  <li class=" text-3xl hover:underline underline-offset-4 cursor-pointer font-patrick hover:scale-110">yao hong</li>
</ul>
<ul class="text-2xl gap-6 pt-3 flex right-item items-center md:flex-col font-patrick">
  {sectionItems.map((section) => (
    <li class="hover:underline underline-offset-4 cursor-pointer hover:scale-110">
      <a href={section.anchor}> 
        {section.name}
      </a>
    </li>
  ))}
</ul>
</nav>
<style>
</style>
