---
const sections = [
  {
    anchor: "#about",
    name: "About",
  },
  {
    anchor: "#content",
    name: "Content",
  },
  {
    anchor: "#sandbox",
    name: "SandBox",
  },
];
---

<header>
  <nav class="flex justify-between text-2xl font-robotoSlab">
    <ul class="left-item">
      <li class="pt-3 ml-5 font-robotoSlab">It's Me!</li>
    </ul>
    <ul class="flex gap-4 right-item pt-3 mr-5">
      {
        sections.map((section, idx) => {
          return <li>{section.name}</li>;
        })
      }
    </ul>
  </nav>
</header>
<style></style>
