---
import Navbar from "../components/Navbar.astro";
export interface Props {
  title: String;
}

const { title } = Astro.props;
---

<html lang="en" class="smooth-scroll">
  <head>
    <title>{title}</title>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body class="wrapper page">
    <!-- <main class="m-auto max-w-6xl"> -->
    <main class="px-6 pb-4 relative w-full m-auto md:max-w-lg xl:max-w-5xl">
      <slot />
    </main>
    <style>
      .page {
        /* background-color: #eff5f5; */
        /* animation: 10s infinite alternate ease-out breathing-color--dark; */
      }
      /* @keyframes breathing-color--dark {
        from {
          background-color: #eff5f5;
        }
        to {
          background-color: #eff5f5(0, 0%, 10%);
        }
      } */
    </style>
  </body>
</html>

<style>
  html {
    scroll-behavior: smooth;
  }
  /* .wrapper {
    margin: auto;
  } */
</style>
